<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout :: html(~{::main})}">
<head>
    <title>Privacy Policy - FreshMart</title>
</head>
<body>
<main>
    <div class="container mt-5 pt-5 pb-5">
        <h1 class="mb-4">Privacy & Policy</h1>
        <div class="card border-0 shadow-sm rounded-4 p-4 p-md-5">
            <h4 class="mb-3">1. Information Collection</h4>
            <p class="text-muted mb-4">We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey, or fill out a form.</p>
            
            <h4 class="mb-3">2. How we use your information</h4>
            <p class="text-muted mb-4">Any of the information we collect from you may be used in one of the following ways: to personalize your experience, to improve our website, to improve customer service, to process transactions, or to send periodic emails.</p>
            
            <h4 class="mb-3">3. Data Protection</h4>
            <p class="text-muted mb-4">We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
        </div>
    </div>
</main>
</body>
</html>
